<% layout("layouts/boilerplate") %>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow mb-5">
                    <img crossorigin="anonymous" src="/images/football.jpeg"
                        alt="" class="card-img-top">
                    <h5 class="card-title mt-3 ms-3">Login</h5>
                    <div class="card-body">
                        <form action="/register" method="POST" class="validated-form" novalidate>
                            <div class="my-3"> <label for="username" class="form-label">Phone Number</label>
                                <input class="form-control" type="tel" name="phonenumber" id="phonenumber"
                                    placeholder="Phone Number" autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="my-3"> <label for="otp" class="form-label">OTP</label>
                                    <input class="form-control" type="text" name="otp" id="otp"
                                        placeholder="OTP" autofocus required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="my-3 d-grid gap-2"> <button type="button" class="verifier btn btn-success">Send Verification</button>
                            <div class="my-3 d-grid gap-2"> <button id="submit" type="submit" class="btn btn-success" disabled >Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
