<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <title>Home</title>
</head>

<body class="d-flex flex-column text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div class="container">
                    <img class="my" src="/images/logo_transparent.png" alt="">
                    <h3 class="float-md-start mb-0">KFUPMSOC</h3>

                    <nav class="mynav nav nav-masthead justify-content-center float-md-end">
                        <a href="#" aria-current="page" class="nav-link active">Home</a>
                        <a href="/tournaments" class="nav-link">Tournaments</a>
                        <a href="/tournaments/new" class="nav-link">New Tournament</a>
                        <a href="/statisitics" class="nav-link">Statisitics</a>
                    </nav>
            </div>
        </header>
    </div>

    <main class="px-5">
        <div class="work">
            <h1>KFUPMSOC</h1>
            <p class="lead">Welcome To KFUPMSOC! <br> Jump right in and add new <br> tournaments and update others <br>
            and view other statistics of tournaments!
            </p>
            <a href="/tournaments" class="btn btn-secondary btn-lg bg-white text-dark">View
                Tournaments</a>
        </div>
        <div class="x"></div>
    </main>

    <footer class="mt-auto text-white-50">&copy 2023 KFUPMSOC</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="js/connect.js"></script>
</body>

</html>