<% layout("layouts/boilerplate") %>
    <div class="row">
        <div class="col-md-6">
            <div class="card text-center mb-5">
                <a class="tags text-black" href="#>">
                    <img crossorigin="anonymous" src="./images/football.jepg" class="card-img-top" alt="">
                    <div class="card-header new">
                        <img crossorigin="anonymous" src="/images/favicon.png" alt="" class="post-icon">
                            <p class="card-text d-inline fs-4">
                                <strong>
                                    Team 1
                                </strong>
                            </p>
                        </a>
            </div>

            <div class="card-header fw-normal fs-4">
                Goals - Scorer - minute - penalty or not
                <hr>
                Booked Cards
                <hr>
                Coach
                <hr>
                Captain
                <hr>
                Gk
            </div>
        </div>
    </div>
    <div class="col-md-6">
       
        <div class="card text-center mb-5">
            <a class="tags text-black" href="#>">
                <img crossorigin="anonymous" src="./images/football.jepg" class="card-img-top" alt="">
                <div class="card-header">
                    <img crossorigin="anonymous" src="./images/favicon.png" alt="" class="post-icon">
                    <p class="card-text d-inline fs-4">
                        <strong>
                            Team 2
                        </strong>
                    </p>
            </a>
        </div>

        <div class="card-header fw-normal fs-4">
            Goals - Scorer - minute - penalty or not
            <hr>
            Booked Cards
            <hr>
            Coach
            <hr>
            Captain
            <hr>
            Gk

        </div>


    </div>
    </div>